* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numOfPlayers,
#drawBtn {
  margin: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
